spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  flyway:
    enabled: true

server:
  error:
    include-message: never
    include-binding-errors: never

app:
  auth:
    cookie-secure: ${AUTH_COOKIE_SECURE:true}
